<div class="text-center m-auto">
  <h1><small>Welcome to</small><br />Railsment</h1>
  <p>Track your payments</p>

  <%= link_to "Register", new_user_registration_path, class: 'btn-primary' %>
  <%= link_to "Login", new_user_session_path, class: 'btn-secondary' %>
</div>
