<header class="flex gap-4 bg-gradient-to-b from-blue-500 to-blue-600 text-white">
  <div class="p-2">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
  </div>
  <div class="grow text-center p-2 uppercase">
    <%= @page_title || 'NO TITLE' %>
  </div>
  
  <%= render "layouts/quick_nav_button" %>
</header>
