<header class="fixed top-0 inset-x-0 flex gap-4 bg-gradient-to-b from-blue-500 to-blue-600 text-white">
  <%= render "layouts/quick_nav_button" %>
  
  <div class="grow text-center p-2 uppercase">
    <%= @page_title %>
  </div>
  
  <%= render "layouts/quick_auth_button" %>
</header>
